<div class="panel panel-default" ng-controller="EmpDetCtrl">
 	<div class="panel-heading"><h4>{{action}} Employee</h4></div>
  	<div class="panel-body">
    	<div class="container-fluid">
		<div class="row">
		  	<div class="col-md-3">
			  	<div class="form-group">
			    	<label>Last Name</label>
				    <input type="text" class="form-control" ng-model="per.lastName">
				</div>
			</div>
			<div class="col-md-4">
			  	<div class="form-group">
			    	<label>First Name</label>
		    		<input type="text" class="form-control" ng-model="per.firstName">
				</div>
			</div>
			<div class="col-md-3">
			  	<div class="form-group">
			    	<label>Middle Name</label>
		    		<input type="text" class="form-control" ng-model="per.middleName">
				</div>
			</div>
			<div class="col-sm-2">
			  	<div class="form-group">
			    	<label>Affix</label>
		    		<input type="text" class="form-control" ng-model="per.affix">
				</div>
			</div>
		</div>
		<div class="row">
		  	<div class="col-md-3">
			  	<div class="form-group">
			    	<label>Gender</label>
		   			<input type="text" class="form-control" ng-model="per.gender">
				</div>
			</div>
			<div class="col-md-3">
			  	<div class="form-group">
			    	<label>Date of Birth</label>
		    		<input type="text" class="form-control" ng-model="per.dateOfBirth">
				</div>
			</div>
			<div class="col-md-3">
			  	<div class="form-group">
			    	<label>Civil Status</label>
		    <input type="text" class="form-control" ng-model="per.civilStatus">
				</div>
			</div>
			<div class="col-sm-3">
			  	<div class="form-group">
			    	<label>Age</label>
		    		<input type="text" class="form-control" ng-model="per.age">
				</div>
			</div>
		</div>
		<div class="row">
		  	<div class="col-md-12">
			  	<div class="form-group">
			    	<label>Permanent Residence</label>
		    		<input type="text" class="form-control" ng-model="per.permanentResidence">
				</div>
			</div>
			<div class="col-md-12">
			  	<div class="form-group">
			    	<label>Current Residence</label>
		    		<input type="text" class="form-control" ng-model="per.currentResidence">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3"><h4>Spouse</h4></div>
		</div>
		<div class="row">
		  	<div class="col-md-3">
			  	<div class="form-group">
			    	<label>Last Name</label>
				    <input type="text" class="form-control" ng-model="per.spouseLastName">
				</div>
			</div>
			<div class="col-md-4">
			  	<div class="form-group">
			    	<label>First Name</label>
		    		<input type="text" class="form-control" ng-model="per.spouseFirstName">
				</div>
			</div>
			<div class="col-md-3">
			  	<div class="form-group">
			    	<label>Middle Name</label>
		    		<input type="text" class="form-control" ng-model="per.spouseMiddleName">
				</div>
			</div>
			<div class="col-sm-2">
			  	<div class="form-group">
			    	<label>Affix</label>
		    		<input type="text" class="form-control" ng-model="per.spouseAffix">
				</div>
			</div>
		</div>
		<div class="row">
		  	<div class="col-md-3">
			  	<div class="form-group">
			    	<label>Date of Birth</label>
		    		<input type="text" class="form-control" ng-model="per.spouseDateOfBirth">
				</div>
			</div>
			<div class="col-md-4">
			  	<div class="form-group">
			    	<label>Occupation</label>
		    		<input type="text" class="form-control" ng-model="per.spouseOccupation">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3"><h4>Parent - Father</h4></div>
		</div>
		<div class="row">
		  	<div class="col-md-3">
			  	<div class="form-group">
			    	<label>Last Name</label>
				    <input type="text" class="form-control" ng-model="per.fatherLastName">
				</div>
			</div>
			<div class="col-md-4">
			  	<div class="form-group">
			    	<label>First Name</label>
		    		<input type="text" class="form-control" ng-model="per.fatherFirstName">
				</div>
			</div>
			<div class="col-md-3">
			  	<div class="form-group">
			    	<label>Middle Name</label>
		    		<input type="text" class="form-control" ng-model="per.fatherMiddleName">
				</div>
			</div>
			<div class="col-sm-2">
			  	<div class="form-group">
			    	<label>Affix</label>
		    		<input type="text" class="form-control" ng-model="per.fatherAffix">
				</div>
			</div>
		</div>
		<div class="row">
		  	<div class="col-md-3">
			  	<div class="form-group">
			    	<label>Date of Birth</label>
		    		<input type="text" class="form-control" ng-model="per.fatherDateOfBirth">
				</div>
			</div>
			<div class="col-md-4">
			  	<div class="form-group">
			    	<label>Occupation</label>
		    		<input type="text" class="form-control" ng-model="per.fatherOccupation">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3"><h4>Parent - Mother</h4></div>
		</div>
		<div class="row">
		  	<div class="col-md-3">
			  	<div class="form-group">
			    	<label>Last Name</label>
				    <input type="text" class="form-control" ng-model="per.motherLastName">
				</div>
			</div>
			<div class="col-md-4">
			  	<div class="form-group">
			    	<label>First Name</label>
		    		<input type="text" class="form-control" ng-model="per.motherFirstName">
				</div>
			</div>
			<div class="col-md-3">
			  	<div class="form-group">
			    	<label>Middle Name</label>
		    		<input type="text" class="form-control" ng-model="per.motherMiddleName">
				</div>
			</div>
			<div class="col-sm-2">
			  	<div class="form-group">
			    	<label>Affix</label>
		    		<input type="text" class="form-control" ng-model="per.motherAffix">
				</div>
			</div>
		</div>
		<div class="row">
		  	<div class="col-md-3">
			  	<div class="form-group">
			    	<label>Date of Birth</label>
		    		<input type="text" class="form-control" ng-model="per.motherDateOfBirth">
				</div>
			</div>
			<div class="col-md-4">
			  	<div class="form-group">
			    	<label>Occupation</label>
		    		<input type="text" class="form-control" ng-model="per.motherOccupation">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3"><h4>Employment</h4></div>
		</div>
		<div class="row">
		  	<div class="col-md-3">
			  	<div class="form-group">
			    	<label>Employee Number</label>
		    		<input type="text" class="form-control" ng-model="emp.employeeNumber">
				</div>
			</div>
		  	<div class="col-md-3">
			  	<div class="form-group">
			    	<label>Date Hired</label>
		    		<input type="text" class="form-control" ng-model="emp.dateHired">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3"><h4>Government</h4></div>
		</div>
		<div class="row">
		  	<div class="col-md-3">
			  	<div class="form-group">
			    	<label>Pagibig</label>
		    		<input type="text" class="form-control" ng-model="emp.pagibig">
				</div>
			</div>
		</div>
		<div class="row">
		  	<div class="col-md-3">
			  	<div class="form-group">
			    	<label>Philhealth</label>
		    		<input type="text" class="form-control" ng-model="emp.philhealth">
				</div>
			</div>
		</div>
		<div class="row">
		  	<div class="col-md-3">
			  	<div class="form-group">
			    	<label>Social Security Number</label>
		    		<input type="text" class="form-control" ng-model="emp.socialSecurityNumber">
				</div>
			</div>
		</div>
		<div class="row">
		  	<div class="col-md-3">
			  	<div class="form-group">
			    	<label>Tax Identification Number</label>
		    		<input type="text" class="form-control" ng-model="emp.taxIdentificationNumber">
				</div>
			</div>
		  	<div class="col-md-3">
			  	<div class="form-group">
			    	<label>Tax Exception Status</label>
		    		<input type="text" class="form-control" ng-model="emp.taxExemptionStatus">
				</div>
			</div>
		</div>
		<button class="btn btn-primary" ng-click="doAction(per, emp)" type="submit">{{action}}</button>
	    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
		</div>
	</div>
</div>


