<style>
.a-thumbnail {
	width: 100%;
	height: 180px;
	margin: 5px;
	border-color: #424242;
	border-radius: 1px;
	-webkit-box-shadow: inset 4px 14px 68px 6px rgba(0,0,0,0.22);
	-moz-box-shadow: inset 4px 14px 68px 6px rgba(0,0,0,0.22);
	box-shadow: inset 4px 14px 68px 6px rgba(0,0,0,0.22);
}
.a-thumbnail span {
	font-size: 36px;
 	display: block; 
}
.a-thumbnail .span-glyphicon {
 	padding-top: 50px;
}
.a-thumbnail .span-label {
	padding-top: 10px;
	font-size: 20px;
	font-weight: normal;
}
</style>
<div class="container-fluid">
    <div class="row">
		<div class="col-xs-12 col-sm-4">
			<a href="#/mtnce-cmpen" class="btn btn-lg btn-primary a-thumbnail" role="button">
		    	<span class="glyphicon glyphicon-ruble span-glyphicon"></span><span class="span-label">Compensations</span>
		    </a>
		</div>
		<div class="col-xs-12 col-sm-4">
		    <a href="#/mtnce-deduc" class="btn btn-lg btn-primary a-thumbnail" role="button">
		    	<span class="glyphicon glyphicon-minus span-glyphicon"></span><span class="span-label">Deductions</span>
		    </a>
		</div>
		<div class="col-xs-12 col-sm-4">
			<a href="#/mtnce-emtyp" class="btn btn-lg btn-primary a-thumbnail" role="button">
		    	<span class="glyphicon glyphicon-user span-glyphicon"></span><span class="span-label">Employee Types</span>
		    </a>
		</div>
		<div class="col-xs-12 col-sm-6">
			<a href="#/mtnce-emstt" class="btn btn-lg btn-primary a-thumbnail" role="button">
		    	<span class="glyphicon glyphicon-user span-glyphicon"></span><span class="span-label">Employment Status</span>
		    </a>
		</div>
		<div class="col-xs-12 col-sm-2">
			<a href="#/mtnce-orgnz" class="btn btn-lg btn-primary a-thumbnail" role="button">
		    	<span class="glyphicon glyphicon-equalizer span-glyphicon"></span><span class="span-label">Organizations</span>
		    </a>
		</div>
		<div class="col-xs-12 col-sm-2">
			<a href="#/mtnce-admin" class="btn btn-lg btn-primary a-thumbnail" role="button">
		    	<span class="glyphicon glyphicon-user span-glyphicon"></span><span class="span-label">Admin</span>
		    </a>
		</div>
		<div class="col-xs-12 col-sm-2">
			<a class="btn btn-lg btn-primary a-thumbnail" role="button">
		    	<span class="glyphicon glyphicon-calendar span-glyphicon"></span><span class="span-label">Menu10</span>
		    </a>
		</div>
		<div class="col-xs-12 col-sm-4">
			<a class="btn btn-lg btn-primary a-thumbnail" role="button">
		    	<span class="glyphicon glyphicon-user span-glyphicon"></span><span class="span-label">Menu5</span>
		    </a>
		</div>
		<div class="col-xs-12 col-sm-8">
			<a href="maintenance" class="btn btn-lg btn-primary a-thumbnail" role="button">
		    	<span class="glyphicon glyphicon-user span-glyphicon"></span><span class="span-label">Maintenance</span>
		    </a>
		</div>
    </div>
</div>