<!-- Sidebar -->
<div id="sidebar-wrapper">
	<ul class="sidebar-nav">
		<li class="sidebar-brand">
			<a ng-click="menuToggle()" id="menu-toggle">
				<span class="glyphicon glyphicon-menu-hamburger sidebar-icons" aria-hidden="true"></span>Minyo
			</a>
		</li>
		<li>
			<a href="#">
				<span class="glyphicon glyphicon-home sidebar-icons" aria-hidden="true"></span> Home
			</a>
		</li>
		<li>
			<a href="#">
				<span class="glyphicon glyphicon glyphicon-dashboard sidebar-icons" aria-hidden="true"></span> Dashboard
			</a>
		</li>
		<li>
			<a href="#">
				<span class="glyphicon glyphicon-tasks sidebar-icons" aria-hidden="true"></span> Reports
			</a>
		</li>
		<li>
			<a href="#">
				<span class="glyphicon glyphicon-cog sidebar-icons" aria-hidden="true"></span> Settings
			</a>
		</li>
		<li>
			<a href="#">
				<span class="glyphicon glyphicon-exclamation-sign sidebar-icons" aria-hidden="true"></span> About
			</a>
		</li>
		<li>
			<a href="#">
				<span class="glyphicon glyphicon-user sidebar-icons" aria-hidden="true"></span> John
			</a>
		</li>
		<li>
			<a href="#">
				<span class="glyphicon glyphicon-off sidebar-icons" aria-hidden="true"></span> Log Out
			</a>
		</li>
	</ul>
</div>
<!-- /#sidebar-wrapper -->